body
{
    background-image: url("https://media.wired.com/photos/5b7f64cbbe2f8d3a624b77b2/4:3/w_2000,c_limit/SPoW_82318_01.jpg");
    padding: 0;
    margin: 0;
}
/* Board */
#mainBoard
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100vmin;
    width: 100vmin;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    transform: translate(-50%, -50%);
}
.mainSquare
{
    height: 25%;
    width: 25%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
#chessboard
{
    width: 100%;
    height: 100%;
    border: 1.5vmin solid;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
#chessboard.black
{
    border-color: rgb(54, 31, 0);
    
}
#chessboard.white
{
    border-color: rgb(224, 173, 105);
}
.square
{
    position: relative;
    width: 25%;
    height: 25%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.square.white
{
    background: wheat;
}
.square.black
{
    background: peru;
}
.square.selected
{
    background: rgb(255, 136, 0);
}
.square.white.move
{
    background: greenyellow;
}
.square.black.move
{
    background: green;
}
.square.white.kill
{
    background: rgb(255, 62, 62);
}
.square.black.kill
{
    background: rgb(202, 0, 0);
}
.square.castling
{
    background: magenta;
}

/* Promotion Bubble */
.bubble
{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    border: 0vmin solid whitesmoke;
    border-radius: 2vmin;
    padding: 1vmin;
    margin: 0;
    border-spacing: 0;
    box-shadow: 0 0 1vmin black;
    visibility: hidden;
}
.bubble.white
{
    transform: translate(-1vmin, 6vmin);
}
.bubble.black
{
    transform: translate(-1vmin, -25vmin);
}
.bubble.white::before
{
    z-index: 2;
    content: "";
    position: absolute;
    top: -1.9vmin;
    left: 50%;
    border-bottom: 2vmin solid whitesmoke;
    border-right: 2vmin solid transparent;
    border-left: 2vmin solid transparent;
    transform: translate(-50%, 0);
}
.bubble.black::before
{
    z-index: 2;
    content: "";
    position: absolute;
    top: 24vmin;
    left: 50%;
    border-top: 2vmin solid whitesmoke;
    border-right: 2vmin solid transparent;
    border-left: 2vmin solid transparent;
    transform: translate(-50%, 0);
}
.bubbleSquare
{
    position: relative;
    width: 5.5vmin;
    height: 5.5vmin;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.bubbleSquare.white
{
    background: wheat;
}
.bubbleSquare.black
{
    background: peru;
}
/* Other */
#moveHistory
{
    position: absolute;
    left: calc(50vw + 50vmin);
    top: 0;
    width: 32vmin;
    height: 98vh;
    font-size: 2vmin;
    padding: 1vmin;
    line-height: 0.75;
    resize: none;
}
#planeSelector
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 75vmin);
}
#rotateFButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 69vmin);
}
#rotateBButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 63vmin);
}
#resetRotationButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 57vmin);
}
/* Pieces */
.piece
{
    left: 50%;
    position: absolute;
    font-size: 5.5vmin;
    transform: translate(-50%, -50%);
}
.pawn.white::before
{
    content: "♙";
}
.pawn.black::before
{
    content: "♟";
}
.knight.white::before
{
    content: "♘";
}
.knight.black::before
{
    content: "♞";
}
.bishop.white::before
{
    content: "♗";
}
.bishop.black::before
{
    content: "♝";
}
.rook.white::before
{
    content: "♖";
}
.rook.black::before
{
    content: "♜";
}
.queen.white::before
{
    content: "♕";
}
.queen.black::before
{
    content: "♛";
}
.king.white::before
{
    content: "♔";
}
.king.black::before
{
    content: "♚";
}