body
{
    padding: 0;
    margin: 0;
}
body::after /*so that background covers screen even on mobile*/
{
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1957&q=80") no-repeat center center fixed;
    background-size: cover;
}
/* MessageBoxes */
#input
{
    width: calc(100% - 60px);
    resize: none;
}
#send
{
    width: 50px;
}
#log
{
    width: 100%;
    height: calc(100vh - 40px);
}
.messageBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vmin;
    height: 50vmin;
    background: white;
    border: 0.5vmin solid aqua;
    transform: translate(-50%, -50%);
    box-shadow: 
    0 0 0 1vmin white,
    0 0 2vmin 1vmin black;
    font-size: 5vmin
}
.messageBox.n1
{
    height: 60vmin;
}
.messageBox .centerText
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.messageBox .centerText>div
{
    display: flex;
    align-items: center;
    justify-content:center;
}
.messageButton
{
    position: relative;
    background: lightcyan;
    display: flex;
    align-items: center;
    justify-content:center;
    user-select: none;
}
.messageButton.create
{
    height: calc(50% - 0.75vmin);
    margin: 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
}
.messageButton.join
{
    height: calc(50% - 0.75vmin);
    margin: 0 0.5vmin 0.5vmin 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
}
.messageButtonBox
{
    width: 100%;
    height: 50vmin;
}
.linksTable
{
    width: 100%;
    height: 10vmin;
    font-size: 3vmin;
}
.linksTable img
{
    max-width: 6vmin;
    max-height: 3vmin;
}
.messageButton.send
{
    height:10vmin;
    width: 20vmin;
    left: calc(100% - 25vmin);
    box-shadow: 0 0 1vmin 0 black;
}
.messageButton.white
{
    height: calc(50% - 3.75vmin);
    margin: 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
    background: white;
    color: black;
}
.messageButton.black
{
    height: calc(50% - 3.75vmin);
    margin: 0 0.5vmin 0.5vmin 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
    background: black;
    color: white;
}
.messageButton:hover
{
    background: lightskyblue;
}
.messageButton.white:hover
{
    background: lightgray;
}
.messageButton.black:hover
{
    background: gray;
}
.joinTable
{
    width: 100%;
    height: 100%;
}
.joinTable *
{
    font-size: 4vmin;
}
.joinTable input
{
    box-shadow: 0 0 0.2vmin 0 black;
}
.joinTable .error
{
    font-size: 3vmin;
    color: red;
}
/* Board */
#mainBoard
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100vmin;
    width: 100vmin;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1vmin black;
    
}
.mainSquare
{
    height: 25%;
    width: 25%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.chessboard
{
    width: 100%;
    height: 100%;
    border: 1.5vmin solid;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.chessboard.black
{
    border-color: darkcyan;
    
}
.chessboard.white
{
    border-color: lightskyblue;
}
.square
{
    position: relative;
    width: 25%;
    height: 25%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.square.white
{
    background: white;
}
.square.black
{
    background: lightblue;
}
.square.selected
{
    background: rgb(255, 136, 0);
}
.square.white.move
{
    background: greenyellow;
}
.square.black.move
{
    background: green;
}
.square.white.kill
{
    background: rgb(255, 62, 62);
}
.square.black.kill
{
    background: rgb(202, 0, 0);
}
.square.castling
{
    background: magenta;
}

/* Promotion Bubble */
.bubble
{
    position: absolute;
    z-index: 1;
    background: orange;
    border: 0vmin solid orange;
    border-radius: 2vmin;
    padding: 1vmin;
    margin: 0;
    border-spacing: 0;
    box-shadow: 0 0 1vmin black;
    visibility: hidden;
}
.bubble.top
{
    transform: translate(-1vmin, 6vmin);
}
.bubble.bottom
{
    transform: translate(-1vmin, -25vmin);
}
.bubble.top::before
{
    z-index: 2;
    content: "";
    position: absolute;
    top: -1.9vmin;
    left: 50%;
    border-bottom: 2vmin solid orange;
    border-right: 2vmin solid transparent;
    border-left: 2vmin solid transparent;
    transform: translate(-50%, 0);
}
.bubble.bottom::before
{
    z-index: 2;
    content: "";
    position: absolute;
    top: 24vmin;
    left: 50%;
    border-top: 2vmin solid orange;
    border-right: 2vmin solid transparent;
    border-left: 2vmin solid transparent;
    transform: translate(-50%, 0);
}
.bubbleSquare
{
    position: relative;
    width: 5.5vmin;
    height: 5.5vmin;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.bubbleSquare.white
{
    background: white;
}
.bubbleSquare.black
{
    background: lightblue;
}
/* Other */
#moveHistory
{
    position: absolute;
    left: calc(50vw + 50vmin);
    top: 0;
    width: 32vmin;
    height: 100%;
    font-size: 2vmin;
    padding: 1vmin;
    line-height: 0.75;
    resize: none;
}
#planeSelector
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 76vmin);
}
#rotateFButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 70vmin);
}
#rotateBButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 64vmin);
}
#resetRotationButton
{
    position: absolute;
    width: 6vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    left: calc(50vw - 58vmin);
}
#turnSign
{
    position: absolute;
    width: 24vmin;
    height: 8vmin;
    left: calc(50vw - 76vmin);
    top: 5vmin;
    font-size: 5vmin;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0 0 1vmin black;
}
#turnSign.true
{
    background-color: greenyellow;
    color: black;
}
#turnSign.true::before
{
    content: "Your turn!"
}
#turnSign.false
{
    background-color: darkred;
    color: white
}
#turnSign.false::before
{
    content: "Waiting.."
}
/* Pieces */
.piece
{
    left: 50%;
    position: absolute;
    font-size: 5.5vmin;
    transform: translate(-50%, -50%);
}
.pawn.white::before
{
    content: "♙";
}
.pawn.black::before
{
    content: "♟";
}
.knight.white::before
{
    content: "♘";
}
.knight.black::before
{
    content: "♞";
}
.bishop.white::before
{
    content: "♗";
}
.bishop.black::before
{
    content: "♝";
}
.rook.white::before
{
    content: "♖";
}
.rook.black::before
{
    content: "♜";
}
.queen.white::before
{
    content: "♕";
}
.queen.black::before
{
    content: "♛";
}
.king.white::before
{
    content: "♔";
}
.king.black::before
{
    content: "♚";
}