body
{
    background: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1957&q=80") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
#input
{
    width: calc(100% - 60px);
    resize: none;
}
#send
{
    width: 50px;
}
#log
{
    width: 100%;
    height: calc(100vh - 40px);
}
.messageBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vmin;
    height: 50vmin;
    background: white;
    border: 0.5vmin solid aqua;
    transform: translate(-50%, -50%);
    box-shadow: 
    0 0 0 1vmin white,
    0 0 2vmin 1vmin black;
    font-size: 5vmin
}
.messageBox .centerText
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.messageBox .centerText>div
{
    display: flex;
    align-items: center;
    justify-content:center;
}
.messageButton
{
    position: relative;
    background: lightcyan;
    display: flex;
    align-items: center;
    justify-content:center;
}
.messageButton.create
{
    height: calc(50% - 0.75vmin);
    margin: 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
}
.messageButton.join
{
    height: calc(50% - 0.75vmin);
    margin: 0 0.5vmin 0.5vmin 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
}
.messageButton.send
{
    height:10vmin;
    width: 20vmin;
    left: calc(100% - 25vmin);
    box-shadow: 0 0 1vmin 0 black;
}
.messageButton.white
{
    height: calc(50% - 3.75vmin);
    margin: 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
    background: white;
    color: black;
}
.messageButton.black
{
    height: calc(50% - 3.75vmin);
    margin: 0 0.5vmin 0.5vmin 0.5vmin;
    font-size: 10vmin;
    box-shadow: 0 0 0.5vmin 0.2vmin black;
    background: black;
    color: white;
}
.messageButton:hover
{
    background: lightskyblue;
}
.messageButton.white:hover
{
    background: lightgray;
}
.messageButton.black:hover
{
    background: gray;
}
.joinTable
{
    width: 100%;
    height: 100%;
}
.joinTable *
{
    font-size: 4vmin;
}
.joinTable input
{
    box-shadow: 0 0 0.2vmin 0 black;
}
.joinTable .error
{
    font-size: 3vmin;
    color: red;
}